body {
    padding: 0;
    margin: 2.5%;
}


.for-you {
    margin-top: 5%;
    box-sizing: border-box;
}


.trending {

    margin-top: 15%;
    box-sizing: border-box;
}

.trending-header-container {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
}

.header-container {
    font-family: Inter , "sans-serif";
}

.header-container .fire-img {
    width: 42px;
    height: 42px;
}

.trending-header-container h1 , .for-you-header-container h1 {
    text-transform: capitalize;
    color: #030303;
    font-size: 37.44px;

}
.trending-header-container hr , .for-you-header-container hr {
    background-color: #504A7950;
    height: 1px;
    width: 98%;
}
.trending-header-container h4 a , .for-you-header-container h4 a{
    font-size: 24px;
    font-weight: normal;
    text-transform: capitalize;
    color: #030303;
    text-decoration: none;
}

.for-you-header-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}




.movies {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fill , minmax(209px, 1fr));
    grid-gap: 25px;
    position: relative;
}

.bubble-top {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    background: linear-gradient(#FF004D20 , #1F2F9820);
    filter: blur(1px);

    position: absolute;
    left: -10%;
    top: -3%;
    z-index: -1;
}

.bubble-down {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    background: linear-gradient(#FF004D20 , #1F2F9820);
    filter: blur(1px);

    position: absolute;
    right: -10%;
    bottom: 20%;
    z-index: -1;
}


.movies a {
   text-decoration: none;
    color: #030303;
}

.movies a img {
    width: 209px;
    height: 316px;
}

.movies .movie-name{
    width: 90%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 1.4em;
    font-family: Inter , "sans-serif";
    color: #030303;
    text-transform: capitalize;

    margin: 0;
    margin-top: 5%;
}

.movies .movie-details p {
    font-size: 1.4em;
    color: #3B3B3B;
    display: inline-block;
}

.movies .movie-details .date {
    margin-right: 25%;
}

.movies .movie-details .red-dot {
    position: relative;
}

.movies .movie-details .red-dot::before {
    content: "";

    width: 5.3px;
    height: 5.3px;
    background-color: #FF014C;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: -15%;
    margin-top: -2.65px;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.just-another-hand-regular {
    font-family: "Just Another Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.slider {
    width: auto;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.slider .slider-text {
    width: 42%;
    position: relative;
    top: 200px;
}


.slider .slider-text h2 {
    font-size: 5em;
    margin: 0;
    padding: 0;
    position: relative;
    top: 25px;
}

.slider .slider-text h1 {
    font-size: 7em;
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(0deg , #2203FF 20% , #C40D60 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider .slider-text p {
    font-size: 1.4em;
    color: #676767;
    margin: 0;
    padding: 0;
}



.slider .slider-text a img {
    width: 34.91px;
    height: 34.91px;
}

.slider .slider-text a button {
    background-color: white;
    width: 45%;
    height: 65px;
    border-radius: 10px;
    margin-top: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-weight: bold;
    font-size: 1.6em;

}

.slider .slider-text a button img{
    margin-right: 8px;
}

.slider-images-container {
    position: relative;
    width: auto;
    height: 700px;
    min-width: 55%;
}

.slider-images-container .top-right-img {
    position: absolute;
    top: 0;
    right: 5%;
    width: 60%;
    max-width: 423px;
    max-height: 637px;
}



.slider-images-container .right-center-img {
    position: absolute;
    top: 10%;
    right: 27%;
    width: 60%;
    max-width: 473px;
    max-height: 700px;
}

.slider .slider-images-container .play-movie {
    position: absolute;
    top: 55%;
    right: 45%;
    width: 112px;
    height: 112px;
}

.vector-img {
    position: absolute;
    top: 37.5%;
    right: 29%;
    width: 80%;
    height: 551px;
    scale: 1.55 0.9;
}
.main-nav{
    display: flex;
    justify-content: space-between;
}

.logo {
    color: red;
    font-size: 4.5em;
}

.logo img {
    width: 65px;
    height: 65px;
    position: relative;
    top: 20px;
}

.logo span {
    margin-left: 10px;
    color: #494949;
}

.links {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
}

.links li{
    list-style-type: none;
    text-transform: capitalize;
    font-size: 1.5em;
    margin-bottom: 5%;
    margin-left: 5%;
}

.links li a {
    text-decoration: none;
    color: #444444;
}

.links li:first-child a{
    color: #C40E61;
    font-weight: bold;
    font-size: 1.4em;
}

.links-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #f6f4ff;
    z-index: -1;

}



@media (max-width: 1280px) {
    .main-nav {
        margin-bottom: 5%;
    }

    .vector-img {
        top: 35%;
    }

    .links-background {
        scale: 1 1.2;
    }

    .slider .slider-images-container .play-movie {
        top: 45%;
    }
}
@media (max-width: 1150px) {


    .vector-img {
        right: 20%;
    }

    .trending {
        margin-top: 25%;
    }

    .links li:first-child a {
        font-weight: 600;
        font-size: 1.15em;
    }

    .slider .slider-text h1 {
        font-size: 4em;
        line-height: 1.2em;
    }

    .slider .slider-text a button {
        width: 55%;
        position: relative;
        left: 13.5%;
    }

    .fire-img {
        scale: 0.7 0.7;
    }

    .slider .slider-images-container .play-movie {
        top: 10%;
        scale: 0.8 0.8;
    }

    .for-you-header-container h1 {
        font-size: 2em;
    }

}
@media (max-width: 990px) {


    .vector-img {
        right: 20%;
    }

    .slider .slider-text h1 {
        font-size: 3.5em;
    }

    .slider .slider-text a button {
        width: 65%;
    }

    .fire-img {
        scale: 0.6 0.6;
    }

    .slider .slider-images-container .play-movie {
        top: 33.5%;
    }

    .for-you {
        overflow: hidden;
        max-width: 100%;
    }

    .slider .slider-text p {
        margin-top: 3%;
    }

}
@media (max-width: 960px) {


    .vector-img {
        scale: 1.5 0.6;
        top: 23%;
    }


}
@media (max-width: 900px) {


    .vector-img {
        top: 17%;
    }

    .slider .slider-text a button {
        left: 15%;
        width: 75%;
    }

    .links-background {
        scale: 1 1.1;
        top: -5%;
    }

    .main-nav {
        justify-content: unset;
    }

    .links {
        flex-flow: row nowrap;
        max-width: 100%;
    }

    .links li:last-child {
        white-space: nowrap;
        font-size: 1.25em;

    }

}


img {
    max-width: 100%;
}

html {
    font-size: 1em;
}
